html{font-family: sans-serif;}

.site-header{display: flex; justify-content: space-between; align-items: center;}
.site-nav{display: flex; list-style-type: none;}
.nav-link{margin: 0 10px; text-decoration: none; color:black; font-weight: bold; font-size: small;}
.nav-link:hover{text-decoration: underline;}
.apply{background-color: rgb(222, 212, 29);padding: 5px 15px 5px 15px;  border-radius: 15px;}


.nav-big{display: flex; justify-content:space-evenly; list-style-type: none; padding: 0;}
.big-nav-link{text-decoration: none; text-align: center; display: block; margin: 0 4px; padding: 15px 30px; background-color: rgb(0, 0, 0); color:white}
.big-nav-link:hover{; background-color: rgb(213, 193, 62);color:black; transition: all 500ms;}
.tab{flex-grow: 1}
